$blue: #18a0fb;

$grey: #f7f7f7;
$lightgrey: #e0e0e0;

$brown: #878787;

$black: #2c2c2c;

$red: #ff3e1d;
$lightred: #ff7861;

$green: #00d200;

$yellow: #ffd422;
$lightyellow: #fffbe9;

$white: #fff;
