.tags {
  $root: &;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 26px;
  @include font(13px, 500, 16px);

  @media (max-width: 1220px) {
    padding-bottom: 73px;
    margin: 0 auto;
  }

  &__box {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    color: $white;
    background-color: $blue;
    width: fit-content;
    padding: 6px 14px 6px 14px;
    border-radius: 5px;
    border: 1px solid transparent;
    @include trans(color, background-color, border);

    &_white {
      background-color: $white;
      border-color: $lightgrey;
      color: $black;
    }

    &_grey {
      background-color: #f6f6f6;
      border-color: $lightgrey;
      color: $black;
    }

    &_interaction {
      padding: 6px 32px 6px 10px;
    }
  }

  &__button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    padding: 10px;
    transform: translate(10%, -50%);
    top: 50%;
    line-height: 0;
  }

  &__box-icon path {
    @include trans(fill);
  }

  &__box-icon {
    cursor: pointer;

    &_white path {
      fill: #bae3fe;
    }

    &_grey path {
      fill: #6b6b6b;
    }
  }
}
